.hero__place {
    background-image: url('../img/headerbackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    line-height: 35px;
    padding: 41px 71px 0px 71px;
    height: 230px; 
    width: 100%;

    .hero__btn--home,
    .hero__btn--libraryV1 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #ffffff;
    }

    .hero__btn--home::after{
        content: "";
        display: block;
        border-bottom: 3px solid #FF6B08;
        width: 34px;
    }

    .hero__SMovies {
        width: 336px;
        height: 20px;
        border-bottom: 0.5px solid #FFFFFF;
        display: flex;
        justify-content: center;
        margin: 37px auto 0px auto;
    }

    .hero__SMovies--bar {
        width: 336px;
        display: flex;
        justify-content: space-between;
    }

    #busqueda {
        background-color: transparent;
        border: none;
        width: 315px;
        font-family: Roboto;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
    }

    #busqueda::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }

    #busqueda:hover,
    #busqueda:focus {
    border: none;
    outline: none;
    }

    #busqueda::placeholder {
        color: #FFFFFF;
    }

    .hero__SMovies--SVG {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}
/* --------------------PAGE 2 ---------------------- */
.hero__placeV2 {
    background-image: url('../img/headerbackground2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    line-height: 35px;
    padding: 41px 71px 0px 71px;
    height: 230px; 
    width: 100%;

    .hero__btn--containerV2{
        display: flex;
        justify-content: space-between;
        width: 287px;
        margin: 45px auto 0px auto;
    }

    .hero__btn--WT, 
    .hero__btn--QU {

        width: 136px;
        height: 44px;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 8px; 
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 1s, border-color 1s;
    }
    
    .hero__btn--WT:hover, .hero__btn--QU:hover {
        background-color: #FF6B01; 
        border-color: #FF6B01;
        color: black;
        box-shadow: 0 0 10px 10px rgba(255, 107, 1, 0.2); 
    }   
    
    .hero__btn--WT:active, .hero__btn--QU:active {
        background-color: #FF6B01; 
        border-color: #FF6B01;
        color: black;
        box-shadow: 0 0 10px 10px rgba(255, 107, 1, 0.2); 
    }   

    .hero__btn--home,
    .hero__btn--library {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #ffffff;
    }

    .hero__btn--library::after{
    content: "";
    display: block;
    border-bottom: 3px solid #FF6B08;
    width: 50px;
    }
}